In [55]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [56]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
lending_df = pd.read_csv(
    Path("Resources/lending_data.csv")
)
# Review the DataFrame
# YOUR CODE HERE!
display(lending_df.head())
display(lending_df.tail())

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [57]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y = lending_df['loan_status']

# Separate the X variable, the features
# YOUR CODE HERE!
x = lending_df.drop(columns=['loan_status'])

In [58]:
# Review the y variable Series
# YOUR CODE HERE!
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: loan_status, dtype: int64

In [59]:
# Review the X variable DataFrame
# YOUR CODE HERE!
x.head(20)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
5,10100.0,7.438,50600,0.407115,4,1,20600
6,10300.0,7.490,51100,0.412916,4,1,21100
7,8800.0,6.857,45100,0.334812,3,0,15100
8,9300.0,7.096,47400,0.367089,3,0,17400
9,9700.0,7.248,48800,0.385246,4,0,18800
10,9300.0,7.085,47300,0.365751,3,0,17300
11,9200.0,7.015,46600,0.356223,3,0,16600
12,9200.0,7.043,46900,0.360341,3,0,16900
13,9400.0,7.101,47400,0.367089,3,0,17400
14,8400.0,6.703,43700,0.313501,3,0,13700
15,9400.0,7.136,47700,0.371069,3,0,17700
16,8900.0,6.897,45500,0.340659,3,0,15500
17,8300.0,6.648,43200,0.305556,2,0,13200
18,8000.0,6.539,42100,0.287411,2,0,12100
19,10200.0,7.460,50800,0.409449,4,1,20800

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [60]:
# Check the balance of our target values
# YOUR CODE HERE!
print(y.value_counts())

loan_status
0    75036
1     2500
Name: count, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [61]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [62]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
logistic_regression_model = LogisticRegression(random_state=1)
# Fit the model using training data
# YOUR CODE HERE!
log_model = logistic_regression_model.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [63]:
# Make a prediction using the testing data
# YOUR CODE HERE!
y_pred = log_model.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [64]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
ba = balanced_accuracy_score(y_test, y_pred)
f'Balanced accuracy score is {round(ba,4)}'

'Balanced accuracy score is 0.952'

In [65]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
training_matrix = confusion_matrix(y_test, y_pred)
print(training_matrix)

[[18663   102]
 [   56   563]]

In [66]:
# Print the classification report for the model
# YOUR CODE HERE!
training_report = classification_report(y_test, y_pred)
print(training_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** It appears the model does pretty well according to the balanced accuracy score of 95%. This may be due to the fact that the data appears to be a little unbalanced. From the results, it appears the number of healthy loans outnumber the the number of unhealthy loans, causing the model to provide a loan model that shows healthy as opposed to a loan model status that could show un-healthy.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [67]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

resample_model = RandomOverSampler(random_state = 1)
# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!
X_resample, y_resample = resample_model.fit_resample(X_train, y_train)

In [68]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!
X_resample.value_counts()
y_resample.value_counts()

loan_status
0    56271
1    56271
Name: count, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [69]:

from sklearn.linear_model import LogisticRegression
# Instantiate the Logistic Regression model

# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
resample_random_model = LogisticRegression(random_state = 1)

# Fit the model using the resampled training data
# YOUR CODE HERE!
resample_random_model.fit(X_train, y_train)
# Make a prediction using the testing data
# YOUR CODE HERE!
results_resample = pd.DataFrame({"Prediction": y_pred_resample, "Actual": y_test}).reset_index(drop=True)
results_resample.head()

   Prediction  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [71]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!
ba_resample= balanced_accuracy_score(y_test, y_pred_resample)
f'Balanced accuracy score is {round(ba_resample,4)}'

'Balanced accuracy score is 0.952'

In [72]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
print(confusion_matrix(y_test, y_pred_resample))

[[18663   102]
 [   56   563]]

In [73]:
# Print the classification report for the model
# YOUR CODE HERE!
print(classification_report(y_test, y_pred_resample))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** At this point, the oversam led model has an accuracy score of 99%. which appears to be higher than the model that used inbalanced data. It is safe to draw the conclusion that the oversampled model performs better by identifying mistakes such as labeling un healthy loans as high-risk and healthy loans(as low-risk).